@{ ViewBag.Title = "Nuevo Colegio";}
@model web_agencia.Models.Colegio_Web
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header card-header-rose card-header-text">
                    <div class="card-text">
                        <h4 class="card-title">Agregar Colegio</h4>
                    </div>
                </div>
                <div class="card-body ">
                    @using (Html.BeginForm("CrearAsync", "Colegio", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Nombre</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control"})
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 ml-auto mr-auto text-center">
                                <button type="submit" class="btn btn-rose">Registrar<div class="ripple-container"></div></button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
