
@{ ViewBag.Title = "Dueño";}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="card ">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="far fa-chart-bar fa-lg"></i>
                    </div>
                    <h4 class="card-title">Resumen Colegios</h4>
                </div>
                <div class="card-body ">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="grafico-general-colegio"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card ">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="far fa-chart-bar fa-lg"></i>
                    </div>
                    <h4 class="card-title">Resumen Cursos</h4>
                </div>
                <div class="card-body ">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="grafico-general-cursos" style="height: 300px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card ">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="fas fa-chart-pie fa-lg"></i>
                </div>
                <h4 class="card-title">Resumen Actividades</h4>
            </div>
            <div class="card-body ">
                <div class="row">
                        <label class="col-sm-2 col-form-label">Curso:</label>
                        <div class="col-sm-4">
                            <div class="form-group bmd-form-group">
                                <select class="form-control" id="filtro-cursos">
                                    <option>Cargando...</option>
                                </select>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="grafico-actividades-cursos" style="height: 500px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script data-main="/Scripts/pages/reporte-gerencia" src="/Scripts/require.js"></script>
}
