@{ ViewBag.Title = "Nuevo Contrato";}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header card-header-rose card-header-text">
                    <div class="card-text">
                        <h4 class="card-title">Crear Contrato</h4>
                    </div>
                </div>
                <div class="card-body ">

                    <div class="row">
                        <label class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input class="form-control" type="text" id="nombre-contrato" />
                            </div>
                        </div>
                        <label class="col-sm-2 col-form-label">Curso</label>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" id="curso-alumno">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Descripción</label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <textarea  class="form-control" id="descripcion-contrato">

                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Fecha del viaje</label>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input class="form-control" type="datetime" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-sm-1">
                            <button id="add-servicio" class="btn btn-primary btn-round btn-sm">
                                <i class="fas fa-plus"></i> Añadir servicio
                            </button>
                        </div>
                    </div>
                    <div id="contenedor-servicios">
                        <div class="row div-servicios">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <select class="form-control servicios-contrato">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-outline-danger btn-round btn-sm btn-fab">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card ">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-sm-1">
                            <button id="add-seguro" class="btn btn-primary btn-round btn-sm">
                                <i class="fas fa-plus"></i> Añadir seguro
                            </button>
                        </div>
                    </div>
                    <div id="contenedor-seguros">
                        <div class="row div-seguros">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select class="form-control seguros-contrato">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <select class="form-control tipo-seguro">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input class="form-control" type="number" style=" padding: 1.255rem 0;" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <p>Valor: <span class="valor-seguro">0</span></p>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-outline-danger btn-round btn-sm btn-fab">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-12 ml-auto mr-auto text-center">
                    <button type="button" class="btn btn-rose">Generar Contrato<div class="ripple-container"></div></button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/pages/contrato.js")
    <script>
        (function ($, w, d) {
            $(d).ready(function () {

                var p = w.thisPage();
                p.init();

                $('#add-servicio').click(function (e) {
                    p.addServicio();
                });

                $('#add-seguro').click(function (e) {
                    p.addSeguro();
                });

            });
        })(jQuery, window, document);
    </script>
}
