<div class="modal fade" id="modal-cambiar-password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cambio de contraseña</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group bmd-form-group is-filled">
                    <label class="label-control">Nueva contraseña</label>
                    <input type="password" class="form-control" id="nueva-contraseña-usuario">
                </div>
                <div class="form-group bmd-form-group is-filled">
                    <label class="label-control">Repetir contraseña</label>
                    <input type="password" class="form-control" id="repetir-contraseña-usuario">
                </div>
                <small class="form-text text-muted">
                    * Al cambiar la contraseña se cerrará la sesión actual.
                </small>
            </div>
            <div class="modal-footer">
                <button type="button" id="change-password-input" class="btn btn-info">Cambiar contraseña</button>
                <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

