@{
    ViewBag.Title = "Ejecutivo";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <a href="@Url.Action("Nuevo","Contrato")">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-body text-primary text-center">
                        <h5 class="card-title">Nuevo Contrato</h5>
                        <p class="card-text">Agrega un nuevo contrato, <br /> pincha aquí.</p>
                        <span class="btn btn-primary">Llevame allí</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="@Url.Action("Index","Contrato")">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-body text-primary text-center">
                        <h5 class="card-title">Lista Contrato</h5>
                        <p class="card-text">Listas de contratos por curso, pincha aquí.</p>
                        <span class="btn btn-primary">Llevame allí</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

@section scripts {
    <script data-main="/Scripts/pages/all" src="/Scripts/require.js"></script>
    <script>
    $(document).ready(function () {
        //Cierra sesion y cambia contraseña ver all.js
        require(['all'], function (all) {
            all.init();
        });
    });
    </script>
}
