
@{
    ViewBag.Title = "Registro Pupilo";
}
<div class="container-fluid">
    <div class="col-md-10 col-12 mr-auto ml-auto" id="formulario-alumno-registro">
        <div class="card-body">
            <form id="form-alumno" style="display: none;">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-user-graduate fa-2x"></i>
                        </div>
                        <h4 class="card-title">Registro de alumno</h4>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Rut (*)</label>
                                    <input type="number" class="form-control opcional-step" id="rut-alumno" required="true">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="form-control opcional-step" id="curso-alumno">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Nombre (*)</label>
                                            <input type="text" class="form-control opcional-step" id="nombre-alumno" required="true">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Apellido paterno (*)</label>
                                            <input type="text" class="form-control opcional-step" id="apaterno-alumno" required="true">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Apellido materno (*)</label>
                                            <input type="text" class="form-control opcional-step" id="amaterno-alumno" required="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label for="exampleEmail" class="bmd-label-floating"> Email Address *</label>
                                <input type="email" class="form-control" id="exampleEmail" c>
                            </div>
                            <div class="form-group">
                                <label for="examplePassword" class="bmd-label-floating"> Password *</label>
                                <input type="password" class="form-control" id="examplePassword" required="true" name="password">
                            </div>
                            <div class="form-group">
                                <label for="examplePassword1" class="bmd-label-floating"> Confirm Password *</label>
                                <input type="password" class="form-control" id="examplePassword1" required="true" equalTo="#examplePassword" name="password_confirmation">
                            </div>*@
                        <div class="category form-category">* Campos requeridos</div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="button" id="registrar-input" class="btn btn-rose">Registrar</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div id="tiene-apoderado" class="row" style="display: none;">
        <div class="col-md-8 col-12">
            <h5>Este usuario aún no tiene un apoderado registrado.</h5>
            <a href="@Url.Action("Registro","Apoderado")">Registrate aquí</a>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/pages/registro-alumno.js")
    <script>
        (function ($, w, d) {
            $(d).ready(function () {

                var p = w.thisPage();
                p.cargarCursosSelect();

                $.when(p.tieneApoderadoAjax()).then(function (data, textStatus, jqXHR) {
                    if (data)
                        $('#form-alumno').show();
                    else                   
                        $('#tiene-apoderado').show();
                });

                $('#registrar-input').click(function (e) {
                    if ($('#form-alumno').valid())
                        p.botonFinalizar();
                });
            });
        })(jQuery, window, document);
    </script>
}