
@{
    ViewBag.Title = "Usuarios";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Todos los usuarios</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                        <a href="@Url.Action("NuevoAsync", "Usuario")" class="btn btn-fill btn-rose">
                            Nuevo Usuario
                            <div class="ripple-container"></div>
                        </a>
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Rut</th>
                                    <th>Nombre</th>
                                    <th>Apellido paterno</th>
                                    <th>Apellido materno</th>
                                    <th>Correo</th>
                                    <th class="disabled-sorting text-right">Acciones</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Rut</th>
                                    <th>Nombre</th>
                                    <th>Apellido paterno</th>
                                    <th>Apellido materno</th>
                                    <th>Correo</th>
                                    <th class="text-right">Acciones</th>
                                </tr>
                            </tfoot>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>
@section scripts {
    <script>
        $(document).ready(function () {

            var table = $('#datatables').DataTable({
                pagingType: "full_numbers",
                language: { url: "/Scripts/Spanish.json" },
                ajax: {
                    url: "/usuarios/all",
                    dataSrc : ""
                },
                columns: [
                    { "data": "Rut" },
                    { "data": "Nombre" },
                    { "data": "APaterno" },
                    { "data": "AMaterno" },
                    { "data": "Correo" },
                    {
                        "data": "Rut",
                        "className": "disabled-sorting text-right",
                        "render": function (data, type, full, meta)
                        {
                            return "<a href='/usuarios/"+full.Rut+"' class='btn btn-link btn-warning btn-just-icon edit'><i class='material-icons'>dvr</i></a>\
                                    <a href='#' id='"+ full.Rut+ "' class='btn btn-link btn-danger btn-just-icon remove'><i class='material-icons'>close</i></a> ";
                        }
                    }
                ],
                lengthMenu: [
                    [10, 25, 50, -1],
                    [10, 25, 50, "All"]
                ],
                ordering : true,
                columnDefs: [{
                    orderable: false,
                    targets: "disabled-sorting"
                }],
                responsive: true
            });


            // Delete a record
            table.on('click', '.remove', function (e)
            {
                var rut = $(this).attr('id');
                var respuesta = confirm("¿Desea borrar el usuario " + rut + "?");
                if (respuesta == true)
                {
                    BorrarUsuario(rut);
                    $tr = $(this).closest('tr');
                    table.row($tr).remove().draw();
                    e.preventDefault();
                }
            });

        });

        function BorrarUsuario(rut)
        {
            $.get("/usuarios/borrar/" + rut, function (data) {
                var respuesta = JSON.parse(data);
                if (respuesta)
                    alert("El usuario ha sido borrado exitosamente");
                else
                    alert("Error al borrar el usuario");
            });
        }

    </script>
}

